/* General settings */

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #172b4d;
}

/* Header */

.topbar {
  position: r;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 7.2%;
  margin-bottom: 5%;
}

.box {
  margin-top: 48.8px;
  flex-direction: column;
  order: 2;
  font-family: sans-serif;
  color: black;
  text-align: center;
}

.container {
  display: flex;
  background-image: url("./Assets/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.heading {
  display: flex;
  height: 30%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 20%;
  padding-bottom: 8%;
}

h1 {
  color: #172b4d;
  text-align: center;
}

h1 span {
  color: #36b37e;
}

h3 {
  text-align: center;
}

.pg1content {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 85%;
  padding-bottom: 7%;
}

.social {
  padding: 3%;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
	padding: 0% 22% 15% 22%;
}

a {
  size: 70%;
}

.action {
  display: flex;
  justify-content: space-around;
  color: #172b4d;
}

.contentbox {
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 100;
}

.works {
  padding: 6% 10% 6% 10%;
}

.grid-container {
  display: grid;
  margin-top: 17%;
}

.griditem {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  width: 90%;
  margin: 16px;
  border-radius: 8px;
  box-sizing: border-box;
}

i {
  font-size: 0.8em;
  padding:2%;
  margin-right: 5%;
}

.action-button {
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 50%;
  color: #172b4d;
  font-size: 16px;
  padding: 2px 5px;
}

.round-button:active {
  background-color: #008552;
}

.round-button:hover {
  background-color: #36b37f;
  box-shadow: 0px 8px 16px 0px hsba(155, 70%, 70%, 0.24);
}

.line {
  height: 2px;
  background-color: #36b37e;
  border-radius: 1px; 
  width: 15%;
  margin: 0 auto;
}

.social > ul:nth-child(1) > li:nth-child(3) > a:nth-child(1) > img:nth-child(1) {
  padding-top: 9%;
  height: 14px;
}

.social > ul:nth-child(1) > li:nth-child(2) > a:nth-child(1) > img:nth-child(1) {
  height: 16px;
}

.social > ul:nth-child(1) > li:nth-child(1) > a:nth-child(1) > img:nth-child(1) {
  height: 16px;
}

.social > ul:nth-child(1) > li:nth-child(4) > a:nth-child(1) > img:nth-child(1) {
  height: 16px;
}

.social > ul:nth-child(1) > li:nth-child(5) > a:nth-child(1) > img:nth-child(1) {
  height: 16px;
}

/* Tile */

.tile {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}

.placeholder {
  display: flex;
  flex-direction: row;
  height: 136px;
}

.whitespace {
  background-color: white;
  border-radius: 5%;
}

button {
  color:white;
  background-color: #36b37f;
  border: none;
  color: white;
  text-align: center;
  margin: 10% auto;
  border-radius: 5px;
  border: 1px solid #36b37e;
  padding: 10px 20px;
  font-size: 0.6em;
  cursor: pointer;
  justify-content: ;
}

.lightbtn {
  flex-direction: row;
  color:#172b4d;
  background-color: #d0d9d4;
}

.btn {
  background-color: #008552;
}

.minimenu {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: max-content
  left: calc(50% - 327px/2);
  bottom: 0px;
}

.button2 {
  color: #172b4d;
  background-color: #ebf0ee;
  border: none;
  border-radius: 5%;
  padding: 4%;
  cursor: pointer;
  margin: 10% auto;
  font-size: 8px;
  padding: 5px;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  padding: 5%;
}

.tilebut {
  display: flex;
}

.about {
  background-color: coral;
  /*background-image: url(./Assets/About.png);*/
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0;
  border-color: 3px solid salmon;
}

#h1p3 {
  font-size: 160%;
  padding: 10px;
  margin-top: 10%;
}

#pp3 {
  text-align: center;
  font-size: 85%;
  padding: 5%;
}

#pg3but {
  display: flex;
  flex-direction: column;
  text-align: center;

}
