/* General settings */
body {
  font-family: "Roboto", sans-serif;
}

/* Header */
.topbar {
  order: 1;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  border: 1px red solid;
  height: 48px;
  width: 375px;
}

.ham {
  height: 40px;
  width: 40px;
  display: flex;
  float: right;
  border: solid 1px blue;
  color: black;
  margin-top: 4px;
  margin-right: 24px;
}

.bars {
  display: flex;
  width: 375px;
  height: 44px;
  border: solid 1px red;
}

.box {
  margin-top: 48.8px;
  flex-direction: column;
  order: 2;
  font-family: sans-serif;
  color: black;
  text-align: center;
  border: solid 1px red;
}

* .page1bg {
  position: relative;
  background-size: cover;
  margin-top: 48.8px;
  background-image: url("./Assets/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  height: 653.32px;
}

/* We start writing out flexbox here. The above is just page setup */
.container {
  margin-top: 0;
  display: flex;
  border: 1px solid black;
  width: 381px;
  height: 701.32px;
  flex-direction: column;
}

.heading {
  position: absolute;
  display: flex;
  height: 211px;
  width: 327px;
  margin: 112px 27px 0 27px;
  border: solid 1px red;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: 5px;
  color: #172b4d;
}

h1 span {
  color: #36b37e;
}

.pg1content {
  position: absolute;
  display: flex;
  font-size: 20px;
  text-align: center;
  height: 164px;
  width: 327px;
  border: solid 1px red;
  margin: 382px 27px 164px 27px;
}

.pg1content > p:nth-child(1) {
  margin-top: 0;
  margin-bottom: 0;
}

.social {
  display: flex;
  flex-direction: column;
  border: solid 1px red;
}

ul {
  width: 200px;
  display: flex;
  list-style: none;
  color: red;
  justify-content: space-between;
}
